* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px arial, sans-serif;
  line-height: 24px;
  width: 800px;
  margin: 40px auto 60px;
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  display: flex;
  background-color: turquoise;
  padding: 40px;
  margin: 40px;
  border-radius: 8px;
  gap: 20px;
  align-items: stretch;
}

a {
  color: grey;
}

h1{
  font-size: 2.5rem;
  margin-bottom: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: darkred;
}

hr {
  border: 0.5px solid coral;
  margin-bottom: 16px;
}

.info {
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
}

.summary {
  margin-top: 1rem;
}

.contact {
  color: grey;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
  margin: 0 40px;
}

img {
  width: 200px;
  height: auto;
  background-color: white;
  border-radius: 8px;
}

dt {
  color: darkred;
  font-weight: bold;
  font-style: italic;
}

h2 {
  color: darkred;
  font-size: 20px;
}

dd {
  border-left: 2px solid coral;
  padding-left: 32px;
}

ul {
  margin: 20px;
}

.subcat {
  font-family: 'Times New Roman', Times, serif;
  color: grey;
  font-style: italic;
  font-weight:500;
  font-size: 16px;
}